<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          {% for email in site.email %}
          <li>
            <a href="mailto:{{ email.address }}" title="{{ email.description }}">
              <span class="icon icon--email">📧</span>
              <span class="email">{{ email.address }}</span>
            </a>
          </li>
          <li>
            <a href="{{ email.pubkey }}" title="Public key for {{ email.address }}">
              <span class="icon icon--gnupg">🔒</span>
              <span class="fingerprint">{{ email.fingerprint }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}" title="GitHub">
              <span class="icon icon--github">
                <img src="/assets/about/logo-github.svg" type="image/svg+xml" alt="GitHub Logo"/>
              </span>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% for mastodon in site.mastodon %}
          <li>
            <a href="https://{{ mastodon.instance }}/@{{ mastodon.username }}" rel="me" title="Mastodon">
              <span class="icon icon--mastodon">
                <img src="/assets/about/logo-mastodon.svg" type="image/svg+xml" alt="Mastodon Logo">
              </span>

              <span class="username">@{{ mastodon.username }}@{{ mastodon.instance }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
